@import url('https://fonts.googleapis.com/css2?family=Inter&family=Michroma&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: 0;
    background-color: transparent;
}

.join {
    display: flex;
    align-items: center;
    column-gap: 200px;
}

.logo {
    margin-left: 240px;
}

.logo img {
    width: 380px;
    height: auto;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Michroma', sans-serif;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 30px;
}

input {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: 0;
    background-color: #EAEAEA;
    text-indent: 36px;
    width: 390px;
    height: 53px;
    font-size: 25px;
    color: #B5B5B5;
}

.loginBtn {
    margin-top: 50px;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #757F85;
    border-radius: 50px;
    border: 0;
    background-color: #E1F4FF;
    width: 390px;
    height: 53px;
}

.social {
    display: flex;
    column-gap: 60px;
}

.sign {
    display: flex;
}

.sign-btn2 a {
    color: #70737D;
}