.boxesContainer{
    display:flex;
    justify-content:center;
}

.boxess{
    display:flex;
    flex-direction:column;
}

.boxes{
    display:flex;
    gap:120px;
    margin-top:28px;
}

.box {
    background-color: #F8F8F8;
    border-radius: 50px;
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}


.boxImg {
    width: 115px;
    height: 110px;
    border-radius:5px;
}

.country{
    font-size:25px;
}


.area{
   font-size: 20px;
   color:#B4B4B4;
}