body{
    margin:0;
    padding:0;
}

button{
    border:0;
    background-color:transparent;
}

.mapContainer{
    display:flex;
    justify-content:center;
}

.mapPng{
    width:1280px;
    height:600px;
}

.png1{
     position: absolute;
     left: 1280px;
     top: 120px;
}
