<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prepare</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">

    <link rel="icon" th:href="@{/images/logo.png}">
</head>

<body>
<div class="join container">
    <div class="logoContainer">
        <img th:src="@{/images/logo.png}" alt="Logo">
    </div>

    <div class="loginContainer">
        <div class="title">prepare</div>

        <form action="/index" method="post">
            <div>
                <input type="text" placeholder="Id" class="idBtn" th:name="memberId">
                <input type="password" placeholder="Password" class="pwBtn" th:name="memberPw">
            </div>


            <button type="submit" class="loginBtnContainer" id="loginBtn">
                <div class="loginBtnText">Login</div>
            </button>
        </form>

<!--        <div class="socialContainer">-->
<!--            <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=9418661f85635eda56d4e525ff0549c1&redirect_uri=https%3A%2F%2Flocalhost%3A8080%2Fjoin%2Fkakao&response_type=code">-->
<!--                <img th:src="@{/images/social1_btn.png}">-->
<!--            </a>-->
<!--            <a><img th:src="@{/images/social2_btn.png}"></a>-->
<!--        </div>-->
        <div class="signContainer">
            <div class="sign-btn1">Don’t have an account?</div>
            <div class="sign-btn2">&nbsp;<a th:href="@{/join}">Sign up</a> </div>
        </div>
    </div>
</div>

<script th:src="@{/js/index.js}"></script>
</body>

</html>