<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prepare</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
<div class="join container">
    <div class="logoContainer">
        <img th:src="@{/images/logo.png}" alt="Logo">
    </div>

    <div class="loginContainer">
        <div class="title">prepare</div>

        <form action="/index" method="post">
            <div>
                <input type="text" placeholder="Id" class="idBtn" th:name="memberId">
                <input type="password" placeholder="Password" class="pwBtn" th:name="memberPw">
            </div>


            <button type="submit" class="loginBtnContainer" id="loginBtn">
                <div class="loginBtnText">Login</div>
            </button>
        </form>

        <div class="socialContainer">
            <button><img th:src="@{/images/social1_btn.png}" alt="Social Button 1"></button>
            <button><img th:src="@{/images/social2_btn.png}" alt="Social Button 2"></button>
        </div>
        <div class="signContainer">
            <div class="sign-btn1">Don’t have an account?</div>
            <div class="sign-btn2">&nbsp;<a th:href="@{/join}">Sign up</a> </div>
        </div>
    </div>
</div>

<script th:src="@{/js/index.js}"></script>
</body>

</html>