<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prepare</title>
  <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="join container">
  <div class="logoContainer">
    <img th:src="@{/images/logo.png}" alt="Logo">
  </div>

  <div class="loginContainer">
    <div class="title">join with us!</div>
    <div>
      <form action="/join" method="post" th:object="${joinDTO}">
        <input type="text" placeholder="Id" class="idBtn" name="memberEmail" th:field="*{memberId}">
        <input type="password" placeholder="Password" class="pw-btn" name="memberPassword" th:field="*{memberPassword}">
        <!-- 다른 필드들도 필요한 경우 여기에 추가 -->

        <button type="submit" class="loginBtnContainer" id="joinBtn">
          <div class="loginBtnText">Join</div>
        </button>
      </form>

    </div>
  </div>
</div>

<script th:src="@{/js/join.js}"></script>

</body>
</html>
